*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

.icon{
    width: 35px;
    height: 35px;
}


.side-bar-element{
    right: 0%;
    background-color: #ffffff;
    width: 60%;
    height: 100vh;
    z-index: 3;
    position:fixed;
    display: none;
    flex-direction: column;
    border-left: 1px solid #a0a0a0;
    animation: side-bar 1s ease-in-out;
}

@keyframes side-bar{
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(0%);
    }
}

.menu-section{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.side-bar-cross-icon{
    margin: 0 0 0 10px;
    width: 35px;
    height: 35px;
    background-image: url(../image/xmark-solid-full.svg);
}
.side-bar-title{
    width: fit-content;
    margin: 0 auto 0 auto;
}
.side-bar-title p{
    font-weight: 1000;
    font-family: "Instrument Serif", serif;
    font-size: 30px;
}

.side-bar-element-list{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.element{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #000000;
}
.element:hover{
    transform: scale(1.03);
}
.element a{
    width: 100%;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
    font-family: "Instrument Serif", serif;
    font-size: 20px;
}




.main-layout{
    width: 100%;
    min-height:98vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.nav-section{
    width: 100%;
    height: 100px;
    background-color:#ffffff ;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    animation: navbar 1.5s ease-in-out;
}

@keyframes navbar{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.main-log{
    margin-left: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: contain;
    background-image: url(../image/main-log.jpg);
}
.page-title h2{
    font-family: "Rochester", cursive;
    width: 100%;
    font-size: 35px;
    margin-left: 15px;
}
.side-bar{
    background-image: url(../image/bars-solid-full.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    margin:0 0 0 auto;
}


/* welcome section */

.welcone-section{
    transform: translateY(-30px);
    font-family: "Rochester", cursive;
    display: flex;
    flex-direction: column;
    margin: auto auto auto auto;
    width: 85%;
    color:#ffffff  ;
    text-align: center;
    animation: welcome 2s ease-in-out;
}

@keyframes welcome{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.welcone-section p{
    font-size: 18px;
    margin-top: 7px;
    font-family: "Oswald", sans-serif;
}
.main-page-order-btn{
    margin-top:30px ;
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    color: black;
    align-self: center;
    border-radius: 7px;
}
.main-page-order-btn a{
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    color: black;
    padding: 7px;
    
}

/* product section */

#product-section{
    margin-top: 20px;
    width: 100%;
    min-height:98vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.product-title{
    height: 70px;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.product-title h1{
    font-family: "Instrument Serif", serif;
}
.product-grid{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0a0a0a;
    width: 100%;
    margin: 20px auto 0 auto;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    row-gap: 20px;
}
.product-grid-heading{
    width: 100%;
    height: 50px;
}
.product-grid-heading p{
    margin-left: 20px;
    font-size: 30px;
    font-family: "Instrument Serif", serif;
    color: #ffffff;
    font-weight: 200;
}
.product{
    border-radius: 5px;
    margin: auto;
    width: 180px;
    height: 310px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 20px 1fr 1fr 50px ;
    grid-template-rows: 20px 115px 1fr 30px 40px 50px;
    justify-items: center;
    align-items: center;
    
}
.product:hover{
    transition: all 0.2s linear;
    transform:scale(1.05);
}
.fish-img{
    height: 95%;
    width: 95%;
    border-radius: 5px;
    grid-row: 1/3;
    grid-column: 1/-1;
}


.fish-title{
    width: 95%;
    background-color:#0a0a0a ;
    color: white;
    grid-row:3/4;
    grid-column: 1/-1;
    border-radius: 5px;
}
.fish-title p{
    text-align: center;
    font-size: 15px;
    padding: 5px;
    font-family: "Oswald", sans-serif;
}


.fish-price{
    width: 95%;
    grid-row: 4/5;
    grid-column: 1/-1;
}
.fish-price p{
    font-size: 15px;
    font-family: "Oswald", sans-serif;
}
.fish-price p span{
    text-decoration: line-through;
    margin-right: 7px;
}



.product-quantity{
    grid-row:5/6;
    grid-column: 1/-1;
    width: 95%;
    display: flex;
}
.p-q-btn{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #0a0a0a;
    margin: auto;
    border-radius:3px;
}
.p-q-btn p{
    margin: auto;
    width: fit-content;
    font-size: 25px;
    font-weight: 1000;
    color: #ffffff;
}
.product-quantity input{
    border:1.5px solid #0a0a0a;
    border-radius: 5px;
    width: 30px;
}
.product-quantity input:valid{

    justify-items: center;
}


.add-to-cart-btn{
    border-radius: 5px;
    width: 95%;
    height: 95%;
    background-color: #0a0a0a;
    display: flex;
    grid-row:6/7;
    grid-column: 1/-1;
    color: #ffffff;
    margin-bottom: 5px;
}
.add-to-cart-btn:hover,.p-q-btn:hover{
    background-color: black;
}
.add-to-cart-btn p{
    margin: auto 5px auto auto;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
}
.cart-icon{
    margin-right: auto;
    background-image: url(../image/cart-arrow-down-solid-full.svg);
    width:20px;
    background-repeat: no-repeat;
    background-position: center;
}

/* cart section */

#cart-section{
    font-family: "Oswald", sans-serif;
    margin-top: 20px;
    width: 100%;
    min-height:98vh;
    background-color: #0a0a0a;
    display: grid;
    padding: 20px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 100px 1fr 200px 100px;
    align-items: center;
}


.cart-heading{
    display: flex;
    align-items: center;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.cart-heading h1{
     font-family: "Instrument Serif", serif;
     color: white;
     font-size: 35px;
     font-weight: 300;
}


.cart-product{
    grid-row: 2/3;
    grid-column: 1/-1;
    width: 100%;
    height: 390px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.cart-product::-webkit-scrollbar {
    display: none;    
}
.selected-product{
    flex-shrink: 0;  
    border-radius: 5px;
    margin: 10px 0;
    width: 95%;
    height: 200px;
    background-color: #0a0a0a;
    display: grid;
    grid-template-columns: 2fr 1fr 40px;
    grid-template-rows:40px 1fr 1fr ;
    align-items: center;
    justify-items: center;
}
.select-product-img{
    border-radius: 5px;
    width: 95%;
    height: 95%;
    grid-row: 2/-1;
    grid-column: 1/2;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.selected-product-delect{
    grid-row: 1/2;
    grid-column: 3/4;
    color:#ffffff;
}
.icon-white-x{
    background-image: url(../image/white-x-mark.svg);
}


.select-product-quanity{
    align-self: self-start;
    grid-row: 3/4;
    grid-column: 2/-1;
    display: flex;
    width: 100%;
}
.select-product-quanity input{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
.select-product-quanity input:valid{
    justify-items:center;
}
.s-p-q-btn{
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: auto auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-p-q-btn p{
    width: fit-content;
    font-size: 25px;
}

.selected-product-name{
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: #ffffff;
    border-radius: 5px;
}
.selected-product-name p{
    padding: 5px;
    font-family: "Oswald", sans-serif;
}

.product-data{
    margin: 0 0 0 10px;
    justify-self: start;
    grid-row: 2/3;
    grid-column: 2/-1;
    color: #ffffff;
}
.product-data p{
    margin-top: 5px;
    font-size: 17px;
    font-family: "Oswald", sans-serif;
}

.select-product-totalamount{
    margin: 0 0 10px 10px;
    justify-self: start;
    align-self: self-end;
    grid-row: 3/4;
    grid-column: 2/4;
}
.select-product-totalamount p{
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    font-size: 20px;
}








.cart-amount-section{
    align-self: self-end;
    border-radius: 5px;
    grid-row: 3/4;
    grid-column: 1/-1;
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-family: "Instrument Serif", serif;
}
.c-a-s-t{
    align-self: center;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.c-a-s{
    margin: auto 0 auto 0;
    display: flex;
    align-items: center;
}
.c-a-s p{
    font-size: 17px;
    font-weight: bold;
    margin: 0 30px 0 auto;
}
.c-a-s-t-a{
    width: 95%;
    border-top: 1.5px dashed black;
}
.c-a-s-t-a p{
    margin-right: 5px;
}


.cart-order-btn{
    grid-row: 4/5;
    grid-column: 3/4;
    height: fit-content;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 13px;
    justify-self: center;
}
.cart-order-btn a{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}








/* socialmedia-section */

#socialmedia-section{
    margin-top: 20px;
    width: 100%;
    min-height:98vh;
    background-color: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.social-media-section-title{
    background-color: #000000;
    width: 100%;
    height: 90px;
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
    border-bottom: 20px solid white;
}
.social-media-section-title h2{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Instrument Serif", serif;
    color: #ffffff;
}





.instagram-reel{
    display: flex;
    margin: 0 0 auto 0;
    flex-direction: column;
    align-items: center;
}
.i-r-leatest-reel-heading{
    padding: 10px;
    width:fit-content;   
}
.i-r-leatest-reel-heading h2{
    font-size: 25px;
    font-weight: 300;
    font-family: "Instrument Serif", serif;
    color: #ffffff;
}
.i-r-likeamd-command{
    width: 350px;
    flex-wrap: wrap;
    column-gap: 20px;
    align-self: self-start;
    display: flex;
}
.i-r-l-c{
    margin-top: 7px;
    border-radius: 5px;
    width:fit-content;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    font-family: "Oswald", sans-serif;
}
.i-r-l-c p{
    font-size: 17px;
}








/* about section */
#about-section{
    margin-top: 20px;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: #0a0a0a;
}
.about-section-title{
    display: flex;
    background-color: #000000;
    height: 90px;
    color: #ffffff;
    align-items: center;
    border-bottom: 20px solid white;
}
.about-section-title h2{
    font-size: 35px;
    font-weight: 300;
    font-family: "Instrument Serif", serif;
    margin-left: 20px;
}
.about-content{
    width: 100%;
    height: 100%;
    padding: 20px;
}


.about-info-list{
    color: #ffffff;
    margin: 10px 0 20px 30px;
    font-family: "Instrument Serif", serif;
}
.about-info-heading h2{
    color: white;
    font-weight: 300;
    font-family: "Instrument Serif", serif;
}
.about-info-list li p strong{
    font-size: 20px;
    font-weight: 400;
}
.about-info-list li p{
    font-size: 17px;
}
.contact-data{
    margin: 20px 0 0 20px;
    display: flex;
    align-items: center;
}
.contact-data a{
    margin-left: 5px;
    font-family: "Instrument Serif", serif;
    font-weight: 300;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.intagram-logo,.whats-app-logo,.mark-logo{
    width: 30px;
    height: 30px;
}
.intagram-logo{
    background-image: url(../image/instagram-brands-solid-full\ \(1\).svg);
}
.whats-app-logo{
    background-image: url(../image/whatsapp-brands-solid-full.svg);
}
.mark-logo{
    background-image: url(../image/location-crosshairs-solid-full.svg);
}
.footer{
    background-color: #000000;
    height: 40px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    color: #ffffff;
    font-family: "Oswald", sans-serif;
}


/* message box */

.message-box{
    border-radius: 5px;
    position: fixed;
    width: 200px;
    min-height: fit-content;
    max-height: 100px;
    background-color: #ffffff;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: none;
    align-items: center;
    animation: message-box 2s ease-in-out;
}
.line{
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
    width: 5px;
    height: 50px;
    background-color: #0a0a0a;
    flex-shrink: 0;
}
.m-b-message p{
    font-size: 20px;
    font-weight: 500;
    font-family: "Instrument Serif", serif;
    padding: 5px;
}

@keyframes message-box {
    0% {
        transform: translate(-50%, -20px);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

