*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

.main-section{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.main-nav-section{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    animation: navbar 2s ease-in-out;
}

@keyframes navbar{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.icon-close{
    width: 40px;
    height: 40px;
    background-image: url(../image/xmark-solid-full.svg);
    margin: auto 0px auto auto;
}


.main-logo{
    width: 80px;
    height: 80px;
    background-image: url(../image/main-log.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.brand-name h2{
    font-family: "Rochester", cursive;
    font-size: 35px;
    margin-left: 15px;
}
.login-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: opasity 2s ease-in-out;
}

@keyframes opasity{
    0%{
        transform: translateY(-50px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.login-title h2{
    padding: 30px;
    font-size: 30px;
    font-family: "Instrument Serif", serif;
    color: #ffffff;
    font-weight: 200;
}

label{
    display: flex;
    width: 100%;
    align-self: self-start;
    padding: 20px;
    font-family: "Instrument Serif", serif;
    color: #ffffff;
    font-size: 25px;
}
label input{
    margin: 0 0 0 auto;
}
.conform-btn{
    background-color: #ffffff;
    padding: 10px;
    margin: 5px auto 20px auto;
    border-radius: 5px;
    animation: conform-Btn 2s ease-in-out;
}

@keyframes conform-Btn{
    0%{
        transform: translateY(150%);
    }
    100%{
        transform: translateY(0%);
    }
}
.conform-btn a,.conform-btn p{
    font-weight: 500;
    font-size: 20px;
    color: black;
    font-family: "Oswald", sans-serif;
}

input{
    outline: none;
    border-radius: 5px;
    border: 1px solid #0000;
}

input::placeholder{
    font-size: 13px;
    padding-left: 5px;
    font-family: "Roboto Slab", serif;
}


textarea{
    outline: none;
    border-radius: 5px;
    border: 1px solid #0000;
}
textarea::placeholder{
    font-size: 15px;
    padding: 7px 5px 0 10px;
    font-family: "Roboto Slab", serif;
}
.care-full-message{
    text-align: center;
    color: #ffffff;
    font-family: "Roboto Slab", serif;
    margin: auto auto 10px auto;
    animation: up-opasity 2s ease-in-out;
}

@keyframes up-opasity{
    0%{
        transform: translateY(50px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* message section */

#message{
    align-items: center;
    display: none;
    border-radius: 5px;
    width: fit-content;
    min-height: 70px;
    max-height: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 130px;
    transform: translateX(-50%);
    left: 50%;
    animation: message-animation 2s ease-in-out;
}
.line{
    width: 5px;
    background-color: black;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    align-self: stretch;
}
#message p{
    margin-right: 10px;
    font-family: "Instrument Serif", serif;
    font-size: 18px;
    font-weight: 600;
}

@keyframes message-animation{
    0%{
        opacity: 0;
        transform: translate(-50%,-30px);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,0px);
    }
}